{% if alert %}
    <script>
        alert("{{alert}}")
    </script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Styles/signupstyles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <div class="wrapper">
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
         {% endif %}
        <a href="/"><i class='bx bx-home-alt'></i></a>
        <h1>Register</h1>
        <form action="/authentication/postsignup/" method='post'>
            {% csrf_token %}
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Create a username" required>
                </div>
            <div class="input-box">
                <input type="text" id="fname" name="fname" placeholder="First Name" required>
                </div>
            <div class="input-box">
                <input type="text" id="lname" name="fname" placeholder="Last Name" required></div>
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Email ID" required></div>
            <div class="input-box">
                <input type="password" id="pass1" name="pass1" placeholder="Password" required></div>
            <div class="input-box">
                <input type="password" id="pass2" name="pass2" placeholder="Confirm Password" required>
                </div>
            <button type="submit" class="btn">Signup</button>
            <div class="login">
                <a href="/authentication/login">Already Have an Account?</a>
            </div>
        </form>
    </div>
</body>
</html>