@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: 'Windhavi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Windhavi Regular'), url('/static/windhavi-webfont/Windhavi.woff') format('woff');
}

@font-face {
    font-family: 'Handbuck Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Handbuck Regular'), url('/static/handbuck-webfont/HandbuckRegular-R99xE.woff') format('woff');
    }

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('/static/helvetica-255-webfont/Helvetica-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('/static/helvetica-255-webfont/helvetica-light-587ebe5a59211.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Smeltex Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Smeltex Medium'), url('/static/smeltex-webfont/Smeltex-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Ralmone Personal Use Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ralmone Personal Use Regular'), url('/static/ralmone-personal-use-webfont/RalmonePersonalUse-0vWwv.woff') format('woff');
}

body{
    margin: 0;
    font-family: 'Helvetica';
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    color:#333333;
    background-color: #ffd700;
    position: sticky;
}

.navbar h1.logo{
    font-family: 'Windhavi Regular';
    margin: 0;
    font-size: 30px;
    letter-spacing: 4px;
    color: #333333;
}

.navbar h1{
    font-family: 'Smeltex Medium';
    margin: 0;
    font-size: 16px;
}

.menu{
    display: flex;
    flex-grow: 0.3;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 57px;
}

.search-wrapper{
    flex-grow:0.8;
    display:flex;
    justify-content: flex-start;
}

.search-wrapper input{
    width: 75%;
    padding: 10px;
    border-radius: 40px;
    border: 0.2px dashed #333333;
    background: none;
}

.search-wrapper input::placeholder{
    font-family: 'Smeltex Medium';
    color: #333333;
    text-align:center;
}

.search-wrapper input:focus{
    outline:none;
}

.box{
    padding:0 25px;
}

.cart{
    width:35px;
    height:35px;
}

i.bx.bxs-cart{
    color: #333333;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

i.bx.bxs-cart:hover{
    color: #5a5a59;
}

i.bx.bxs-user-circle{
    color: #333333;
    font-size: 30px;
    padding: 0;
    margin: 0 10px 0 10px;
}

i.bx.bxs-user-circle:hover{
    color: #5a5a59;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:30px 0;
}

.category-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 170px;
    width: 185px;
    border: 0.2px dashed #333333;
    border-radius: 20px;
    margin: 0;
    box-shadow: 0 0 61px -23px inset gold;
    background-color: #ffd70017;
}

.emoji{
    width:60px;
}

.emoji img{
    width: 100%;
    height: 100%;
}

.category-card h1{
    font-family: 'Ralmone Personal Use Regular';
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #333333;
    margin: 0;
}

.item-card {
    position: relative;
    width: 200px;
}

.item-card img {
    width: 100%;
    height: 200px;
}

.item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* Gradient background */
    color: #fff;
    opacity: 0; /* Make details invisible by default */
    transition: opacity 0.3s ease; /* Transition effect for hover */
}

.item-card:hover .item-details {
    opacity: 1; /* Make details visible on hover */
}